@import models.products.Category
@import models.products.Product
@import models.users.User
@(productForm: Form[Product], user: User)
@import helper._

@main("Add Product",user) {
    
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" />
    <p class="lead">Add a new product</p>
    @form(action=routes.AdminProductCtrl.addProductSubmit(), 'class -> "form-horizontal", 'role -> "form",'enctype -> "multipart/form-data") {
        @* CSRF attack prevention *@
        @CSRF.formField
        @inputText(productForm("name"), '_label -> "Name", 'class -> "form-control")
        <!-- Checkboxes for categories - current categories for this product are checked -->
        <!-- Category.options provides a hashmap of value, name pairs -->
        <!-- If product (id) is in catagory - mark it as checked -->
        <!-- Checkbox name is catSelect[],  selected values will be stored in -->
        <!-- form object using catSelect defined in Product  -->
        @for((value, name) <- Category.options) {
            <div class="platformSelect">
            <input type="checkbox" name="catSelect[]" value="@value" 
            
            />@name<br>  
            </div>
                  
        }
        <br>
        <div class="textInputFields">
        @inputText(productForm("description"), '_label -> "Description", 'class -> "form-control")
        @inputText(productForm("stock"), '_label -> "Stock", 'class -> "form-control")
        @inputText(productForm("price"), '_label -> "Price", 'class -> "form-control")
        @select(
            productForm("pegi"), 
            options(Product.PEGIoptions), '_label -> "PEGI Rating", '_default -> "-- Choose a PEGI rating --", 
            '_showConstraints -> false, 'class -> "form-control"
            )
        </div>
        <label>Image Upload</label>
        <input class="btn-sm btn-default btn" type="file" name="upload">
        <br><br>
        <div class="actions">
            <input type="submit" value="Add Product" class="btn-md btn-default btn">
            <a href="@routes.ProductCtrl.listProducts(0)">
                <button type="button" class="btn-md btn-default btn">Cancel</button>
            </a>
        </div>
    }
}