



@import play.api.Play.current
@import models.shopping.Wallet
@import models.shopping._
@import models.products._
@import models.users._
@(amount: Float, registeredUser: models.users.RegisteredUser, wallet: models.shopping.Wallet, user: models.users.User, walletForm: Form[Wallet])
@import helper._


<!-- Pass page title and user on to main -->
@main("Wallet", registeredUser) {

    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" />
<div class="row">
        <div class="col-md-1"></div>
	<div class="col-md-6">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
        }
        @if(flash.containsKey("failure")) {
            <div class="alert alert-success">
                @flash.get("failure")
            </div>
        }  
        @form(action=routes.ShoppingCtrl.addToWallet(amount), 'class -> "form-horizontal", 'role -> "form",'enctype -> "multipart/form-data") {
    @* CSRF attack prevention *@
    @CSRF.formField
        <div class="form-group">
            @inputText(walletForm("amount"), '_label -> "Donate", 
            'class -> "form-control input-xs", 'placeholder -> "Amount to donate...")
            @wallet.setWallet(amount)
        }
        </div>
            
                @helper.form(action = helper.CSRF(routes.CommunityCtrl.donate())) {
                <form action="@routes.CommunityCtrl.donate()" method="POST">

                           
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_LABia2wLCoS6B9wndhZqcLA4"
                      data-amount="@wallet.getWallet()"
                      data-name="Nu-Wave Games"
                      data-description="Enter your payment details below"
                      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                      data-locale="auto"
                      data-label="Donate"
                      data-currency="eur">
                      <a href="@routes.CommunityCtrl.donate()" class="btn btn-success btn-sm"></a>
                    </script>
                    
                    
                  </form>       
                
                    
                
                }
            </div>
            </div>
            </div>
    }