@(userForm: Form[models.users.User], user: models.users.User)
@import helper._

@main("Add User",user) {
    <p class="lead">Add a new User</p>
    <div class="col-xs-5">
            @if(flash.containsKey("success")) {
                <div class="alert alert-success">
                    @flash.get("success")
                </div>
          }
          @if(flash.containsKey("failure")) {
              <div class="alert alert-success">
                  @flash.get("failure")
              </div>
          } 

    @form(action=routes.CommunityCtrl.addUserSubmit(), 
    'class -> "form-horizontal"){
        @* CSRF attack prevention *@
        @CSRF.formField
        @inputText(userForm("name"), '_label -> "Username", 'class -> "form-control")
        @inputText(userForm("email"), '_label -> "Email", 'class -> "form-control")
     
        @inputPassword(userForm("password"), '_label -> "Password", 'class -> "form-control")
        @inputPassword(userForm("confirmPassword"), '_label -> "Confirm password", 'class -> "form-control")
        <div class="actions">
            <input type="submit" value="Register" class="btn-md btn-default btn">
           
            <a href="@routes.ProductCtrl.index()">
           
                <button type="button" class="btn-md btn-default btn">Cancel</button>
            </a>
        </div>
    }
</div>
}