@(registeredUser: models.users.RegisteredUser)



@import play.api.Play.current
@import models.shopping._
@import models.products._

<!-- Pass page title and user on to main -->
@main("Purchase", registeredUser) {


<div class="row">

	<div class="col-md-12">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
        }
        @if(flash.containsKey("failure")) {
            <div class="alert alert-success">
                @flash.get("failure")
            </div>
        }  

		<table class="table table-bordered table-hover table-condensed">
			<thead>
			<!-- The header row-->
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Item Price</th>
				<th>Total</th>
				<th>Quantity</th>
             
			</tr>
			</thead>
			<tbody>
                @if(registeredUser.getBasket() != null) {
                    <!-- Start of For loop - For each p in products add a row -->
                    @for(i <- registeredUser.getBasket().getBasketItems()) {
                    <tr>
                        <td>@i.getProduct.getName</td>
                        <td>@i.getProduct.getDescription()</td>
                        <td>&euro; @("%.2f".format(i.getPrice))</td>
                        <td>&euro; @("%.2f".format(i.getItemTotal))</td>
                        <td>@i.getQuantity()</td>
                       
                    </tr>
                    }<!-- End of For loop -->
              }
			</tbody>
		</table>
        <div class="row">
            <div class="col-md-12">
                <p class="text-right"><strong>Basket Total: &euro; @("%.2f".format(registeredUser.getBasket.getBasketTotal))</strong></p>
            </div>  
        </div>
        <div class="row">
               
                        <head>
                            <p id="demo"></p>
                            <script type="text/javascript">
                              window.onload = function() {
                          
                                  var PayPal = document.getElementById('PayPal');
                                  var CreditCard = document.getElementById('CreditCard');
                                  
                          
                                  PayPal.onclick = PayPalForm;
                                  CreditCard.onclick = CreditCardForm;
                                 
                          
                              }
                              
                              function PayPalForm() {
                                  
                               var paypalEmail = prompt("1) Please enter your email address...", "")
                               var paypalPassword = prompt("2) Please enter your password...", "")
                               document.getElementById("demo").innerHTML = "Hey " +paypalEmail
                                   
                              }
                              function CreditCardForm(){
                                   alert("Please enter your Credit card details...");
                              }
                            </script>
                        </head>
                        <body>
                                
                         <input type="radio" name="paymentType" id="PayPal" value="PayPal" />
                         <label for="PayPal">PayPal</label>
                         <input type="radio" name="paymentType" id="CreditCard" value="CreditCard" />
                         <label for="CreditCard">Credit Card</label>
                        
                        </body>
                      <br>
                    

            <div class="col-md-6">
                <p class="text-right">
                    <a href="@routes.ShoppingCtrl.placeOrder()" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-euro"></span> Confirm purchase</a>
                </p>
            </div>
    

        
        </div>
    </div>
</div>

<script>
	// JavaScript function returns true if user clicks yes, otherwise, false
	function confirmDel() {
		return confirm('Are you sure?');
	}
</script>
}