@import models.community.ForumPost
@import models.products.Product
@import models.users.User
@(postForm: Form[ForumPost], user: User)
@import helper._

@main("Create a Post",user) {
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" />
    <p class="lead">Create a Post</p>
    @form(action=routes.CommunityCtrl.createPostSubmit(), 'class -> "form-horizontal", 'role -> "form",'enctype -> "multipart/form-data") {
        @* CSRF attack prevention *@
        @CSRF.formField
        @inputText(postForm("title"), '_label -> "Title", 'class -> "form-control")
        @select(
            postForm("product.id"), 
            options(Product.options), '_label -> "Game", '_default -> "-- Choose a Game --", 
            '_showConstraints -> false, 'class -> "form-control"
            )
        @inputText(postForm("content"), '_label -> "Content", 'class -> "form-control")

        <div class="actions">
            <input type="submit" value="Post Thread" class="btn-md btn-default btn">
            <a href="@routes.CommunityCtrl.forumPage(0)">
                <button type="button" class="btn-md btn-default btn">Cancel</button>
            </a>
        </div>
    }
}