@import models.community.ForumReply
@import models.products.Product
@import models.users.User
@(replyForm: Form[ForumReply], user: User, postId: Long)
@import helper._

@main("Create a Reply",user) {
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" />
    <p class="lead">Create a Reply</p>
    @form(action=routes.CommunityCtrl.createReplySubmit(postId), 'class -> "form-horizontal", 'role -> "form",'enctype -> "multipart/form-data") {
        @* CSRF attack prevention *@
        @CSRF.formField
        @inputText(replyForm("content"), '_label -> "Content", 'class -> "form-control")

        <div class="actions">
            <input type="submit" value="Add Reply" class="btn-md btn-default btn">
            <a href="@routes.CommunityCtrl.viewPost(postId)">
                <button type="button" class="btn-md btn-default btn">Cancel</button>
            </a>
        </div>
    }
}