@import models.products.Category
@import models.products.Product
@import models.users.User
@(products: List[Product], categories: List[Category], platformId: Long, filter: String,user: User,env: play.api.Environment)


@main("Shop",user) {
  <body>
  <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" />
  <h1>Games</h1>
  <br>
  <div class="row">
      
     
      <div class="list-categories">
          @if(user != null){
            @if("admin".equals(user.getRole())){
              <div class="adminProduct">
                 
                  <p>
                      <a href="@routes.AdminProductCtrl.addProduct()" class="btn btn-sm">Add a product
                      </a>
                      
                    </p>
                  
              </div>
            }
          }
          <div class="category">
              <div class="search">
                  <form action="@routes.ProductCtrl.listProducts(platformId)" class="text" method="GET">
                      <input type="search" id="searchbox" name="filter" value="@filter" placeholder="Search for game...">
                      <input type="submit" id="searchsubmit" value="Search" class="searchbtn-sm ">
                  </form>
                    </div>
        @for(c <- categories) {
          <a href="@routes.ProductCtrl.listProducts(c.getId)" class="btn btn-sm">@c.getName
            <span class="badge badge-pill badge-primary">@c.getProducts().size</span>
          </a>
        }
     
      </div>
    </div>
        
      </div>

     
      

    

      

    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        @if(flash.containsKey("success")) {
          <div class="alert alert-success">
            @flash.get("success")
          </div>
        }
       
        
      
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <div class="products">
          @for(p<-products) {
              <a href="@routes.ProductCtrl.productDetails(p.getId)" class="list-group-item"  id="prodItem">
                  @if(env.resource("public/images/" + p.getId + ".png").isDefined) {
                    <img src="/assets/images/thumbs/@(p.getId + ".png")" id="prodImg"/>
                } else {
                    <img src="/assets/images/thumbs/noImage.png" id="prodImg"/>
                }
                  <h4 id="prodName">@p.getName</h4>
                  
                  <h4 id="prodPrice">€@p.getPrice</h4>
                 <p>
                    @for(c<-p.getCategories){
                      @c.getName&nbsp;
                    }
                    @if(user != null){
                      @if("admin".equals(user.getRole())){
                        @if(p.getStock > 0){
                          <div id="prodStock">Stock: @p.getStock</div>
                        } else {
                          <div id="prodStock">Sold Out</div>
                        }
                      }
                    }
                    @if(user != null){
                      @if("admin".equals(user.getRole())){
                      @p.getPegi
                    }else{
                      <br>@p.getPegi
                    }
                  }else{
                    <br>@p.getPegi
                  }
                  </p>
                  
                  </a>
             
            
              
                }
              </div>
            </div>
          </div>
  
     
   
  </div>
</body>
  
  }