@import models.products.Category
@import models.products.Product
@import models.users.User
@(products: List[Product], categories: List[Category], platformId: Long, filter: String,user: User,env: play.api.Environment)


@main("Products",user) {
  <body>
  <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" />
  <h1>Games</h1>
  <br>
  <div class="row">
    <div class="col-sm-2">
     
      <div class="list-group">
        <b class="list-group-item">Platforms</b>
        @for(c <- categories) {
          <a href="@routes.ProductCtrl.listProducts(c.getId)" class="list-group-item">@c.getName
            <span class="badge">@c.getProducts.size()</span>
          </a>
        }
      </div>

      @if(user != null){
        @if("admin".equals(user.getRole())){
          <div class="list-group">
              <b class="list-group-item">Admin Controls</b>
              <p>
                  <a href="@routes.AdminProductCtrl.addProduct()" class="list-group-item">Add a product
                  </a>
                  <a href="#" class="list-group-item">Add a platform
                    </a>
                </p>
              
          </div>
        }
      }
      

      <div id="actions">
          <form action="@routes.ProductCtrl.listProducts(platformId)" method="GET">
              <input type="search" id="searchbox" name="filter" value="@filter" placeholder="Search for game...">
              <input type="submit" id="searchsubmit" value="Search" class="btn-md btn-primary">
             </form>
      </div>

      

    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        @if(flash.containsKey("success")) {
          <div class="alert alert-success">
            @flash.get("success")
          </div>
        }
       
        
      
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <div class="products">
          @for(p<-products) {
              <a href="@routes.ProductCtrl.productDetails(p.getId)" class="list-group-item"  id="prodItem">
                  @if(env.resource("public/images/" + p.getId + ".png").isDefined) {
                    <img src="/assets/images/thumbs/@(p.getId + ".png")" id="prodImg"/>
                } else {
                    <img src="/assets/images/thumbs/noImage.png" id="prodImg"/>
                }
                  <h4 id="prodName">@p.getName</h4>
                  
                  <h4 id="prodPrice">€@p.getPrice</h4>
                 <p>
                    @for(c<-p.getCategories){
                      @c.getName&nbsp;
                    }
                    @if(user != null){
                      @if("admin".equals(user.getRole())){
                        @if(p.getStock > 0){
                          <div id="prodStock">Stock: @p.getStock</div>
                        } else {
                          <div id="prodStock">Sold Out</div>
                        }
                      }
                    }
                    @if(user != null){
                      @if("admin".equals(user.getRole())){
                      @p.getPegi
                    }else{
                      <br>@p.getPegi
                    }
                  }else{
                    <br>@p.getPegi
                  }
                  </p>
                  
                  </a>
             
              <!-- <td  class="numeric">@p.getStock</td>
              <td  class="numeric">€ @("%.2f".format(p.getPrice))</td>
              
              <td><a href="@routes.AdminProductCtrl.updateProduct(p.getId)" class="button xs btn-danger">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </td>        
              <td><a href="@routes.AdminProductCtrl.deleteProduct(p.getId)" class="button xs btn-danger" onclick="return confirmDel();">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td> -->
              
                }
              </div>
            </div>
          </div>
  
     
   
  </div>
</body>
  
  }