@(title: String, user: models.users.User )(content: Html)

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nu-Wave Games - @title</title>
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" />
    <link href="@routes.Assets.versioned("stylesheets/map.css")" rel="stylesheet" />
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@routes.ProductCtrl.listProducts(0)"><div id="navItem">Nu-Wave Games</div></a>
            </div>

            <ul class="nav navbar-nav">

                <li @if(title=="Shop" ){class="active"}>
                    <a href="@routes.ProductCtrl.listProducts(0)"><div id="navItem">Shop</div></a>
                </li>

                <li @if(title=="Forums") {
                    class="active"
                }>
                    <a href="@routes.CommunityCtrl.forumPage(0)"><div id="navItem">Forums</div></a>
                </li>

                <li @if(title=="Contact us") {
                    class="active"
                }>
                    <a href="#"><div id="navItem">Contact us</div></a>
                </li>
         
                    @if(user != null){
                        @if(user.getRole == "registeredUser"){
                <li @if(title=="Wallet") {
                    class="active"
                     }>
                    <a href="@routes.ShoppingCtrl.addToWallet(0)"><div id="navItem">Wallet</div></a>
                </li>
                
                <li @if(title=="Shopping Basket") {
                    class="active"
                }>
                    <a href="@routes.ShoppingCtrl.showBasket()"><div id="navItem">Basket</div></a>
                </li>
                
                <li @if(title=="View Orders") {
                    class="active"
                }>
                            <a href="@controllers.routes.ShoppingCtrl.viewOrders(user.getEmail())"><div id="navItem">View Orders</div></a>
                        </li>
                }}
                <li @if(title=="Login"){class="active"}>
                        @if(user != null) {
                            <a href="@controllers.security.routes.LoginCtrl.logout()"><div id="navItem">Logout @user.getName()</div></a>
                        } else {
                            <a href="@controllers.security.routes.LoginCtrl.login()"><div id="navItem">Login</div></a>
                        }
                    </li>
            

                </li>
            </ul>

        </div>

    </nav>

    <container>
        <row>
            
                @content
            
        </row>
    </container>
<br>
    <container>
        <footer>
        <row>
            <div class="col-md-12" id="navItem">
                Copyright
                <strong>Nu-Wave Games</strong>
            </div>
        </row>
    </footer>
    </container>
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
</body>

</html>