@import models.products.Product
@import models.users.User
@(p: Product,user: User,env: play.api.Environment)


@main("Full Image", user) {


  <div class="col-sm-10">
    <table class="table table-bordered table-hover table-condensed">
      @if(flash.containsKey("success")) {
        <div class="alert alert-success">
          @flash.get("success")
        </div>
      }
      <thead>
        <tr>
          <th>@p.getName (@p.getPegi)</th> 
          <th>Price</th> 
        </tr>
      </thead>

      <tbody>

          <tr>
              @if(env.resource("public/images/" + p.getId + ".png").isDefined) {
                <td><img src="/assets/images/@(p.getId + ".png")"/></td>
            } else {
                <td><img src="/assets/images/noImage.jpg"/></td>
            }
            <td class="numeric">@p.getPrice</td>
            
          </tr>
          <tr>
            @if(p.getId==1){
            <td>
              
              @p.getDescription terrifying psychopath find themselves entangled with some of the most frightening and deranged elements of the criminal underworld, the U.S. government and the entertainment industry, they must pull off a series of dangerous heists to survive in a ruthless city in which they can trust nobody, least of all each other.
            </td>
          }
          </tr>
        
      </tbody>

    </table>

    
  </div>
</div>
}