@import models.products.Product
@import models.users.User
@(p: Product,user: User,env: play.api.Environment)


@main("Game", user) {

  <div class="col-sm-2"></div>
  <div class="col-sm-8">
      <table class="table table-bordered table-hover table-condensed">
        @if(flash.containsKey("success")) {
          <div class="alert alert-success">
            @flash.get("success")
          </div>
        }
        <div class="list-group">
            <div class="list-group-item">
                @if(env.resource("public/images/" + p.getId + ".png").isDefined) {
                  <img src="/assets/images/@(p.getId + ".png")" id="prodDetailsImg"/>
              } else {
                  <img src="/assets/images/noImage.jpg" id="prodDetailsImg"/>
              }
              <h2>@p.getName</h2>

              <h5><b>Rating: </b> <br> @p.getPegi</h5>

              <h5><b>Platforms: </b> <br> @for(c<-p.getCategories){
                @c.getName&nbsp;
              }</h5>

              <h5><b>Price: </b> <br> $@p.getPrice</h5>

              <p><b>Description</b> <br> @p.getDescription</p>

              <a href="@routes.ShoppingCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs">Add To Cart  <span class="glyphicon glyphicon-shopping-cart"></span></a>

              @if(user != null){
                @if("admin".equals(user.getRole())){
                  <a href="@routes.AdminProductCtrl.updateProduct(p.getId)"  class="btn btn-default btn-xs">Edit  <span class="glyphicon glyphicon-pencil"></span></a>
                  <a href="@routes.AdminProductCtrl.deleteProduct(p.getId)"  class="btn btn-default btn-xs" onclick="return confirmDel();">Delete <span class="glyphicon glyphicon-trash"></span></a>
                }
              }
              
        
        
    </div>
        <label>Reviews:</label><br>
        <div class="list-group">
        
      </div>
      <p>
        <a href="#">
          <button class="btn btn-primary">Add a Review</button>
        </a>
      </p>
      
    </div>
  </div>
}