@import models.products.Category
@import models.products.Product
@import models.users.User
@(products: List[Product], categories: List[Category], catId: Long, filter: String,user: User,env: play.api.Environment)
<link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" />

@main("Products",user) {

<p class="lead">Product Catalogue</p>
<br>
<div class="row">
  <div class="col-sm-2">
    <h4>Platforms</h4>
    <div class="list-group">
      <a href="@routes.ProductCtrl.shop(0, filter)" class="list-group-item">All Categories</a>
      @for(c <- categories) {
        <a href="@routes.ProductCtrl.shop(c.getId, filter)" class="list-group-item">@c.getName
          <span class="badge">@c.getProducts.size()</span>
        </a>
      }
    </div>
  </div>
  <div class="col-sm-10">
      @if(flash.containsKey("success")) {
        <div class="alert alert-success">
          @flash.get("success")
        </div>
      }

      			<!-- Search Form -->
			<div id="actions">
        <form action="@routes.ProductCtrl.shop(catId)" method="GET">
         <input type="search" id="searchbox" name="filter" value="@filter" placeholder="Filter by product name...">
         <input type="submit" id="searchsubmit" value="Filter by name" class="btn-md btn-primary">
        </form>
       </div>
    
   

      <tbody>
          
        @for(p<-products) {
          <div class="list-group">
            <div class="games">
         
              @if(env.resource("public/images/productImages/thumbnails/" + p.getId + ".jpg").isDefined) {
                <img src="/assets/images/productImages/thumbnails/@(p.getId + ".jpg")"/>
            } else {
                <img src="/assets/images/productImages/thumbnails/noImage.jpg"/>
            }
            
            <td></td>
            <td><a href="@routes.ProductCtrl.productDetails(p.getId)">
                @p.getName</td>
            </a>
              @p.getPegi
                <br>
                   
            <td>@p.getDescription</td>
            <td  class="numeric">@p.getStock</td>
            <td  class="numeric">€ @("%.2f".format(p.getPrice))</td>
            <td><a href="@routes.ShoppingCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a></td>
          </div>
          </div>
        }
      
      </tbody>

    </table>
  </div>
</div>
}