@import models.community.ForumPost
@import models.users.User
@(p: ForumPost,user: User,env: play.api.Environment)


@main(p.getTitle, user) {


  <div class="col-sm-10">
    <table class="table table-bordered table-hover table-condensed">
      @if(flash.containsKey("success")) {
        <div class="alert alert-success">
          @flash.get("success")
        </div>
      }
      <div class="list-group">
          <div class="list-group-item">
            <h3>@p.getTitle</h3>
            @if(p.getAuthor != null){
              <label>@p.getAuthor.getName</label><br>
            }else{
              <label>N/A</label><br>
            }
      
      <label>@p.getProduct.getName</label><br>
      <br>
      <p>@p.getContent</p><br>

      @if(user != null){
        @if("admin".equals(user.getRole())){
          <a href="@routes.CommunityCtrl.deletePost(p.getId)"  class="btn btn-default btn-xs" onclick="return confirmDel();">Delete <span class="glyphicon glyphicon-trash"></span></a>
        }
      }

    </div>
  </div>
      <label>Replies:</label><br>
      <div class="list-group">
      @for(r <- p.getReplies){

        <div class="list-group-item">
          @if(r.getAuthor != null){
            <label>@r.getAuthor.getName</label><br>
          }else{
            <label>N/A</label><br>
          }
          
          <p>@r.getContent</p>
          @if(user != null){
            @if("admin".equals(user.getRole())){
              <a href="@routes.CommunityCtrl.deleteReply(r.getId)"  class="btn btn-default btn-xs" onclick="return confirmDel();">Delete <span class="glyphicon glyphicon-trash"></span></a>
            }
          }
        </div>

      }
    </div>
    <p>
      <a href="@routes.CommunityCtrl.createReply(p.getId())">
        <button class="btn btn-primary">Add a Reply</button>
      </a>
    </p>
    
  </div>
</div>
}